[submodule "toolchain/clang-r416183b"]
	path = toolchain/clang-r416183b
	url = https://github.com/LineageOS/android_prebuilts_clang_kernel_linux-x86_clang-r416183b/
[submodule "toolchain/gcc_4.9"]
	path = toolchain/gcc_4.9
	url = https://github.com/LineageOS/android_prebuilts_gcc_linux-x86_aarch64_aarch64-linux-android-4.9
[submodule "toolchain/mkbootimg"]
	path = toolchain/mkbootimg
	url = https://android.googlesource.com/platform/system/tools/mkbootimg
[submodule "toolchain/arm-gnu-toolchain-14.2.rel1-x86_64-aarch64-none-linux-gnu"]
	path = toolchain/arm-gnu-toolchain-14.2.rel1-x86_64-aarch64-none-linux-gnu
	url = https://github.com/any444v/arm-gnu-toolchain-14.2.rel1-x86_64-aarch64-none-linux-gnu.git