[submodule "toolchain/mkbootimg"]
	path = toolchain/mkbootimg
	url = https://android.googlesource.com/platform/system/tools/mkbootimg
[submodule "toolchain/arm-gnu-toolchain-14.2.rel1-x86_64-aarch64-none-linux-gnu"]
	path = toolchain/arm-gnu-toolchain-14.2.rel1-x86_64-aarch64-none-linux-gnu
	url = https://github.com/any444v/arm-gnu-toolchain-14.2.rel1-x86_64-aarch64-none-linux-gnu.git
[submodule "KernelSU-Next"]
	path = KernelSU-Next
	url = https://github.com/KernelSU-Next/KernelSU-Next.git
	branch = next-susfs
